<div class="grid grid-cols-2 ">
    <div class="p-5 border-r">
        <h1 class="text-3xl">Register</h1>
    </div>

    <div class="p-5">
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Type your name">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>{{'ex: john'}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Type your email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>{{'ex: john@email.com'}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </div>

        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>