<app-primary-layout>
    <div class="w-full p-10">
        <div class="mb-10 w-full lg:text-center flex gap-5 items-center">
            <div class="w-1/5 hidden lg:block">
                <hr>
            </div>

            <div class="lg:w-3/5">
                <h2 class="text-3xl font-bold whitespace-nowrap">User Management</h2>
                <p class="mb-2 text-base font-semibold leading-7 opacity-50">
                    Streamline User Management: Simplify Administration and Enhance Security
                </p>
            </div>

            <div class="w-full lg:w-1/5">
                <hr>
            </div>
        </div>

        <div class="p-5 rounded-lg shadow-[-8px_0px_24px_8px_#edf2f7]">
            <app-table [config]="tableConfig"></app-table>
        </div>
    </div>
</app-primary-layout>