<div class="my-3">
  <span class="mb-3 flex items-center text-sm font-medium text-slate-700/50">
    <mat-icon>navigate_next</mat-icon>
    <a [routerLink]="'/products'" class="hover:text-blue-700 duration-150 transition"> Products</a>
    <mat-icon>navigate_next</mat-icon>
    <p>Create</p>
  </span>

  <div class="my-5 flex gap-4 justify-between items-center">
    <div>
      <h3 class="my-2 text-2xl font-bold whitespace-nowrap">Create Product</h3>
      <p>Fill out the form below to add a new product</p>
    </div>
    <div>
      <p class="px-3 py-2 rounded-full scale-90" [ngClass]="product.isActive ? 'bg-blue-50' : 'bg-slate-50'">
        <mat-slide-toggle [(ngModel)]="product.isActive">
          <span class="ml-2 font-bold text-base" [ngClass]="product.isActive ? 'text-blue-700' : 'text-gray-300'">
            {{product.isActive ? 'Active' : 'Inactive'}}
          </span>
        </mat-slide-toggle>
      </p>
    </div>
  </div>
</div>

<div class="mb-3 flex gap-3 items-center">
  <p class="text-nowrap opacity-50">Product Information</p>
  <hr class="w-full">
</div>

<div class="mb-5 flex gap-5">
  <div class="w-full">
    <div class="w-full aspect-video flex items-center justify-center rounded border-dashed border">
      <mat-icon class="opacity-30">
        image
      </mat-icon>
    </div>
  </div>
  <div class="w-full">
    <div class="mb-5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input name="productName" required matInput [(ngModel)]="product.name" placeholder="Type the product name">
        <mat-hint>product name will be displayed to customer</mat-hint>
      </mat-form-field>
    </div>

    <div class="mb-5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>SKU</mat-label>
        <input name="productSku" required matInput [(ngModel)]="product.sku" placeholder="Type the product sku">
      </mat-form-field>
    </div>

    <div class="mb-5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="product.description" rows="2" matInput placeholder="Type Product Description"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="mb-3 flex gap-3 items-center">
  <p class="text-nowrap opacity-50">Stock Information</p>
  <hr class="w-full">
</div>

<div>
  <div class="mb-5">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Sell Price</mat-label>
      <mat-icon matPrefix class="scale-90">sell</mat-icon>
      <input name="productPrice" type="number" step="0.01" required matInput [(ngModel)]="product.price"
        placeholder="Enter the product price">
    </mat-form-field>
  </div>
  <div class="mb-5">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Stock Amount</mat-label>
      <mat-icon matPrefix class="scale-90">inventory</mat-icon>
      <input name="productStock" type="number" step="0.01" required matInput [(ngModel)]="product.stock"
        placeholder="Enter the product stock amount">
    </mat-form-field>
  </div>
</div>

<div class="mb-3">
  <app-alert *ngIf="show.alert" [config]="alertConfig">
  </app-alert>
</div>

<div *appPermissions="['create:products']">
  <app-button icon="add_circle_outline" (click)="create()">
    <p>Add Product</p>
  </app-button>
</div>