<app-primary-layout>
    <div class="w-full p-5">
        <div class="p-5">
            <div class="mb-10 w-full lg:text-center flex gap-5 items-center">
                <div class="w-1/5 hidden lg:block">
                    <hr>
                </div>

                <div class="lg:w-3/5">
                    <h2 class="text-3xl font-bold whitespace-nowrap">Role Management</h2>
                    <p class="mb-2 text-base font-semibold leading-7 opacity-50">
                        Streamline the assignment of user
                        roles and permissions
                    </p>
                </div>

                <div class="w-full lg:w-1/5">
                    <hr>
                </div>
            </div>

            <app-alert *ngIf="show.alert" [config]="alertConfig" class="block mb-3">
            </app-alert>

            <div class="mb-5 w-full flex justify-center">
                <div class="w-full flex justify-center">
                    <div class="py-3 border-r rounded-l-lg shadow-[20px_0px_16px_4px_#edf2f7]">
                        <div class="border-b px-5 h-20 items-center">
                            <p class="flex gap-1 items-center">
                                <mat-icon class="scale-70 opacity-30  cursor-grab scale-90">key</mat-icon>
                                <span>
                                    <input name="search-role" required placeholder="Search Role ..."
                                        (keyup)="searchRole($event)" class="px-2 py-1 outline-slate-200">
                                </span>
                                <mat-icon class="scale-90">
                                    swap_horiz
                                </mat-icon>
                            </p>
                            <hr class="my-1 border-dashed">
                            <p class="flex gap-1 items-center">
                                <mat-icon class="scale-70 opacity-30  cursor-grab scale-90">search</mat-icon>
                                <span>
                                    <input name="search-permission" required placeholder="Search Module ..."
                                        [(ngModel)]="search.permission" class="px-2 py-1 outline-slate-200">
                                </span>
                                <mat-icon class="scale-90">
                                    import_export
                                </mat-icon>
                            </p>
                        </div>

                        <hr class="my-[0.5px] border-2">
                        <div *ngFor="let modulePermission of filteredModulePermissions">
                            <div class="h-12 px-3 flex items-center border-b">
                                <p id="permission-{{modulePermission.resource}}"
                                    class="capitalize font-bold whitespace-nowrap">{{modulePermission.resource}}</p>
                            </div>
                            <div *ngFor="let permission of modulePermission.actions.slice(1)"
                                class="h-12 px-5 flex items-center border-b capitalize">
                                <p>{{permission}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="max-w-[20vw] lg:max-w-[20vw] xl:max-w-[32vw] 2xl:max-w-[40vw] flex overflow-x-auto"
                        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let role of roles" cdkDrag
                            class="w-full py-3 border-r backdrop-blur-sm bg-white/30">
                            <div id="role-{{role.id}}"
                                class="min-w-32 border-b px-5 relative flex flex-col h-20 items-center justify-center">
                                <div class="py-2">
                                    <div>
                                        <input type="text" disabled="canUpdateRole()"
                                            class="py-2 text-center font-bold outline-transparent bg-transparent capitalize"
                                            [(ngModel)]="role.name" placeholder="Untitled Role">
                                    </div>
                                </div>
                                <div class="absolute w-full flex justify-between items-center scale-90 -top-3">
                                    <div class="flex justify-center items-center">
                                        <div class="flex justify-center items-center" cdkDragHandle>
                                            <mat-icon
                                                class="scale-70 opacity-30  cursor-grab scale-90">drag_handle</mat-icon>
                                        </div>
                                    </div>
                                    <button *ngIf="canDeleteRole(role.id)" (click)="deleteRole(role)" mat-icon-button
                                        color="warn" aria-label="Delete Role" class="scale-70">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>

                                <!-- <div class="absolute w-full flex justify-center scale-90 bottom-1">
                                    <div class="flex justify-center items-center">
                                        <div class="flex gap-1 justify-center items-center opacity-50">
                                            <mat-icon class="scale-70 cursor-grab scale-90">history</mat-icon>
                                            <p class="text-sm font-medium ">14/06/23 19:00</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                            <hr class="my-[0.5px] border-2">
                            <div *ngFor="let modulePermission of filteredModulePermissions" class="">
                                <div class="border-b">
                                    <div (click)="addOrRemoveResource(role, modulePermission.resource)"
                                        [ngClass]="canUpdateRole() ? 'cursor-pointer' : 'cursor-not-allowed opacity-30'"
                                        class="h-12 px-3 flex items-center justify-center">
                                        <mat-icon
                                            *ngIf="checkRoleResource(role, modulePermission.resource); else moduleNotAllowed">
                                            radio_button_checked
                                        </mat-icon>

                                        <ng-template #moduleNotAllowed>
                                            <mat-icon class=" opacity-10">
                                                radio_button_unchecked
                                            </mat-icon>
                                        </ng-template>
                                    </div>
                                </div>

                                <div *ngFor="let permission of modulePermission.actions.slice(1)"
                                    class="h-12 px-5 flex items-center justify-center border-b">

                                    <ng-container
                                        *ngIf="checkRoleResource(role, modulePermission.resource); else modulePermissionNotAllowed">
                                        <div class="flex items-center justify-center"
                                            [ngClass]="canUpdateRole() ? 'cursor-pointer' : 'cursor-not-allowed opacity-30'"
                                            (click)="addOrRemoveResourcePermission(role,modulePermission.resource, permission)">
                                            <mat-icon
                                                *ngIf="checkRoleResourcePermission(role, modulePermission.resource, permission); else permissionNotAllowed">
                                                radio_button_checked
                                            </mat-icon>

                                            <ng-template #permissionNotAllowed>
                                                <mat-icon class=" opacity-10">
                                                    radio_button_unchecked
                                                </mat-icon>
                                            </ng-template>
                                        </div>
                                    </ng-container>

                                    <ng-template #modulePermissionNotAllowed>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3 border-l">
                        <p class="border-b px-5 flex h-20 items-center capitalize">
                            <button *appPermissions="['create:roles']" (click)="addRole()" class="px-6 py-2 gap-1 flex items-center border rounded hover:bg-slate-100 duration-150 transition active:scale-90
                                    whitespace-nowrap">
                                <mat-icon class=" scale-75">
                                    add_box
                                </mat-icon>
                                <p class="font-bold">Add Role</p>
                            </button>
                        </p>

                        <hr class="my-[0.5px] border-2">
                        <div *ngFor="let modulePermission of filteredModulePermissions" class="w-1/2">
                            <div class="h-12 px-3 flex items-center justify-center border-b">
                            </div>
                            <div *ngFor="let permission of modulePermission.actions.slice(1)"
                                class="h-12 px-5 flex items-center justify-center border-b">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *appPermissions="['update:roles']" class="w-full">
                <button (click)="save()"
                    class="w-full py-3 border rounded hover:bg-slate-100 duration-300 transition font-medium">
                    Save
                </button>
            </div>
        </div>
    </div>
</app-primary-layout>