<app-primary-layout>
    <div *ngIf="!loading" class="w-full p-5">
        <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">User Information</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">User details</p>
        </div>

        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{user?.name}}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {{user?.email}}</dd>
                </div>
                <div *appPermissions="['read:roles']" class="px-4 py-6">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Roles</mat-label>
                        <mat-select multiple [(ngModel)]="userRoles" [disabled]="!canUpdateUser()">
                            @for (role of roles; track role) {
                            <mat-option [value]="role.id" class="capitalize">{{role.name}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </dl>
        </div>
        <div *appPermissions="['update:users']" class="w-full">
            <button (click)="save()"
                class="w-full py-3 border rounded hover:bg-slate-100 duration-300 transition font-medium">
                Save
            </button>
        </div>
    </div>
</app-primary-layout>