// Material
@use '@angular/material' as mat;
@include mat.core();

//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-size: 14px;

    .mat-mdc-form-field-infix {
        padding-top: calc(var(--mat-form-field-container-vertical-padding) + 1px) !important;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-notched-outline__notch {
    border-right: none !important;
}